In [ ]:
#task-1(String)
given="BaNaNa"
upper=0
lower=0
for i in given:
    if ord(i)>=65 and ord(i)<=90:
        upper+=1
    else:
        lower+=1
if lower>=upper:
    given=given.lower()
else:
    given=given.upper()
print(given)

banana

In [ ]:
#task-1(String)
given="BaNaNa"
upper=0
lower=0
new=""
for i in given:
    if (ord(i)>=65 and ord(i)<=90):
        upper+=1
    else:
        lower+=1
if upper<=lower:
    for i in given:
        if ord(i)>=65 and ord(i)<=90:
            i=chr(ord(i)+32)
            new+=i
        else:
            new+=i
else:
    for i in given:
        if ord(i)>=97 and ord(i)<=122:
            i=chr(ord(i)-32)
            new+=i
        else:
            new+=i
print(new)

banana

In [ ]:
#task-2(String)
given="Hello"
num=0
digit="0123456789"
for i in given:
    if i in digit:
        num+=1
if len(given)==num:
    print("NUMBER")
elif num==0:
    print("WORD")
else:
    print("MIXED")

WORD

In [ ]:
#task-3(String)
given="baNgladEsh"
first=0
last=0
for i in range(len(given)):
    if ord(given[i])>=65 and ord(given[i])<=90:
        first=i
        break
for j in range(0,-(len(given)+1),-1):
    if ord(given[j])>=65 and ord(given[j])<=90:
        last=j
        break
new=given[first+1:last]
if new=="":
    print("BLANK")
else:
    print(new)

glad

In [ ]:
#task-4(String)
first="harry"
last="hermione"
new=""
for i in first:
    if i in last:
        new+=i
for j in last:
    if j in first:
        new+=j
if new=="":
    print("Nothing in common.")
else:
    print(new)

hrrhr

In [ ]:
#task-5(String)
given="ohmybracu@F2"
upper=0
lower=0
num=0
special=0
char="_$#@"
for i in given:
    if ord(i)>=65 and ord(i)<=90:
        upper+=1
    if ord(i)>=97 and ord(i)<=122:
        lower+=1
    if ord(i)>=48 and ord(i)<=57:
        num+=1
    if i in char:
        special+=1
new=""
if upper==0:
    new+="Uppercase character missing, "
if lower==0:
    new+="Lowercase character missing, "
if num==0:
    new+="Digit missing, "
if special==0:
    new+="Special character missing, "
if upper and lower and num and special>=1:
    print("OK")
else:
    new=new[:-2]
    print(new)

OK

In [ ]:
#Task-1(List)
lst=[]
while True:
    user=input("Enter the number: ")
    if user=="STOP":
        break
    else:
        lst.append(int(user))
new=[]
for i in lst:
    if i not in new:
        new.append(i)
count=0
for j in new:
    for k in lst:
        if j==k:
            count+=1
    print("{} - {} times".format(j,count))
    count=0

Enter the number: 10
Enter the number: 20
Enter the number: 20
Enter the number: 30
Enter the number: 10
Enter the number: 50
Enter the number: 90
Enter the number: STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#Task-2(List)
num=int(input("Enter the value of N: "))
max=0
for i in range(num):
    sum=0
    user=input("Enter the list elements: ")
    user=user.split(" ")
    for j in user:
        sum+=int(j)
    if sum>max:
        max=sum
        add=user
print(max)
new=[]
for k in add:
    new.append(int(k))
print(new)

Enter the value of N: 4
Enter the list elements: 1 2 3
Enter the list elements: 4 5 6
Enter the list elements: 10 11 12
Enter the list elements: 7 8 9
33
[10, 11, 12]

In [ ]:
#Task-3(List)
given_1="2 3 6"
given_2="3 4 5"
first=[]
last=[]
for i in range(0,len(given_1),2):
    i=given_1[i]
    first.append(int(i))
for j in range(0,len(given_2),2):
    j=given_2[j]
    last.append(int(j))
new=[]
for k in first:
    for l in last:
        new.append(k*l)
print(new)

[6, 8, 10, 9, 12, 15, 18, 24, 30]

In [ ]:
#Task-4(List)
lst=[]
add=''
while True:
  user=input()
  if user=='STOP':
    break
  else:
    new=user.split(" ")            # 2 1 4 6 10
                                      # 1  3 2 4
    for i in range(len(new)):
      if i==len(new)-1:
        break
      else:
        a=abs(int(new[i])-int(new[i+1]))
        lst.append(a)

      counter=0
      for i in lst:
        if i in range(1, len(new)):
          counter+=1
    if counter==len(new)-1:
        add+='Ub Jumper\n'
    else:
        add+='Not Ub Jumper\n'
    lst=[]
print(add)

1 4 2 3
2 1 4 6 10
1 4 2 -1 6
STOP
Ub Jumper
Ub Jumper
Not Ub Jumper

In [ ]:
#task-5(List)
num=input("Enter the value of n and k: ")
n,k=num.split(" ")
user=input("Enter the number of times: ")
add=user.split(" ")
new=[]
for i in add:
    new.append(int(i))
count=0
for j in new:
    if (j+int(k))<=5:
        count+=1
teams=count//3
print(teams)

Enter the value of n and k: 6 5
Enter the number of times: 0 0 0 0 0 0
2

In [ ]:
#Task-1(Dictionary & Tuple)
dict1={'a': 100, 'b': 100, 'c': 200, 'd': 300}
dict2={'a': 300, 'b': 200, 'd': 400, 'e': 200}
new={}
for i,j in dict1.items():
    if i not in new.keys():
        new[i]=j
for k,l in dict2.items():
    if k not in new.keys():
        new[k]=l
    else:
        new[k]+=l
print(new)
add=[]
for a in new.values():
    if a not in add:
        add.append(a)
add.sort()
add=tuple(add)
print(add)

{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
(200, 300, 400, 700)

In [ ]:
#Task-2(Dictionary & Tuple)
new={}
while True:
  user=input()
  if user=='STOP':
    break
  else:
    if int(user) not in new.keys():
      new[int(user)]=1
    else:
      new[int(user)]+=1

for i,j in new.items():
  print("{} - {} times".format(i,j))

10
20
20
10
30
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [1]:
#Task-3(Dictionary & Tuple)
user=input("Enter the dictionary: ")
new={}
lis1 = user.split(', ')
for i in lis1:
  lis2=i.split(' : ')
  v , k = lis2
  if k in new:
    new[k].append(v)
  else:
    new[k] = [v]
print(new)

Enter the dictionary: key1 : value1, key2 : value2, key3 : value1
{'value1': ['key1', 'key3'], 'value2': ['key2']}

In [ ]:
#Task-4(Dictionary & Tuple)
user=input("Enter the message: ")
new=""
for i in user:
    if ord(i)>=97 and ord(i)<122:
        i=chr(ord(i)-32)
        new+=i
    else:
        new+=i
dict1={1:".,?!:",2:"ABC",3:"DEF",4:"GHI",5:"JKL",6:"MNO",7:"PQRS",8:"TUV",9:"WXYZ",0:" ",}
index=0
final=""
for j in new:
    for key,value in dict1.items():
        if j in value:
            for k in range(len(value)):
                if j==value[k]:
                    index=1+k
                    final+=str(key)*index
                    break
print(final)

Enter the message: Hello, World!
4433555555666110966677755531111